openapi: 3.0.1
info:
  description: "The following pages give you some general information on how to use\
    \ our APIs.<br/>The actual API services documentation then follows further below.\
    \ You can use the menu to jump between API sections.<br/><br/>This page has a\
    \ built-in HTTP(S) client, so you can test the services directly from within this\
    \ page, by filling in the request parameters and/or body in the respective services,\
    \ and then hitting the TRY button. Note that you need to be authorized to make\
    \ a successful API call. To authorize, refer to the '<a target='_blank' href='https://docs.finapi.io/?product=access#tag--Authorization'>Authorization</a>'\
    \ section of Access, or in case you already have a valid user token, just use\
    \ the QUICK AUTH on the left.<br/>Please also remember that all user management\
    \ functions should be looked up in <a target='_blank' href='https://docs.finapi.io/?product=access'>Access</a>.<br/><br/>You\
    \ should also check out the <a target='_blank' href='https://documentation.finapi.io/webform/'>Web\
    \ Form 2.0 Public Documentation</a> as well as <a target='_blank' href='https://documentation.finapi.io/access/'>Access\
    \ Public Documentation</a> for more information. If you need any help with the\
    \ API, contact <a href='mailto:support@finapi.io'>support@finapi.io</a>.<br/><h2\
    \ id=\"general-information\">General information</h2><h3 id=\"general-request-ids\"\
    ><strong>Request IDs</strong></h3>With any API call, you can pass a request ID\
    \ via a header with name \"X-Request-Id\". The request ID can be an arbitrary\
    \ string with up to 255 characters. Passing a longer string will result in an\
    \ error.<br/><br/>If you don't pass a request ID for a call, finAPI will generate\
    \ a random ID internally.<br/><br/>The request ID is always returned back in the\
    \ response of a service, as a header with name \"X-Request-Id\".<br/><br/>We highly\
    \ recommend to always pass a (preferably unique) request ID, and include it into\
    \ your client application logs whenever you make a request or receive a response(especially\
    \ in the case of an error response). finAPI is also logging request IDs on its\
    \ end. Having a request ID can help the finAPI support team to work more efficiently\
    \ and solve tickets faster.<h3 id=\"type-coercion\"><strong>Type Coercion</strong></h3>In\
    \ order to ease the integration for some languages, which do not natively support\
    \ high precision number representations, Web Form 2.0 API supports relax type\
    \ binding for the openAPI type <code>number</code>, which is used for money amount\
    \ fields. If you use one of those languages, to avoid precision errors that can\
    \ appear from <code>float</code> values, you can pass the amount as a <code>string</code>.<h3\
    \ id=\"general-faq\"><strong>FAQ</strong></h3><strong>Is there a finAPI SDK?</strong><br/>Currently\
    \ we do not offer a native SDK, but there is the option to generate an SDKfor\
    \ almost any target language via OpenAPI. Use the 'Download SDK' button on this\
    \ page for SDK generation.<br/><br/><strong>Why do I need to keep authorizing\
    \ when calling services on this page?</strong><br/>This page is a \"one-page-app\"\
    . Reloading the page resets the OAuth authorization context. There is generally\
    \ no need to reload the page, so just don't do it and your authorization will\
    \ persist."
  title: finAPI Web Form 2.0
  version: 2.430.0
servers:
- description: Current environment
  url: https://webform-sandbox.finapi.io
security:
- BearerAccessToken:
  - all
tags:
- description: "If you are interested in customizing the web form to be aligned with\
    \ your brand, then keep reading.<br/>Please check our documentation <a target='_blank'\
    \ href='https://documentation.finapi.io/webform/White-labeling.2066612596.html'>here</a>\
    \ for more information."
  name: Profiles
paths:
  /api/webForms/standingOrder:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnStandingOrderFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "Initiates a standing order from a specific checking account. Based\
        \ on the API parameters used, a recurrent payment initiation order will be\
        \ requested at the bank.<br/><br/>In order to test the API, you can initiate\
        \ a payment with our Demo banks. For more details, please see the associated\
        \ <a href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'\
        \ target='_blank'>documentation</a>.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP code 201 and a web form resource.\
        \ You must direct your user to our web form with the URL from the returned\
        \ resource.<br/><br/>Must pass the user's access token."
      operationId: createForStandingOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandingOrderDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if applying the given <code>sender.iban</code>\
            \ does not result in a uniquely valid bank;<br/>&bull; <code>PAYMENT_NOT_SUPPORTED</code>\
            \ - if the transfer amount currency is not 'EUR';<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
      summary: Create a standing order
      tags:
      - Payment Initiation Services
  /api/webForms/standalonePayment:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnStandalonePaymentFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "Initiates a payment from a specific checking account. If you don't\
        \ need end users to connect their account and download their bank data to\
        \ our database before requesting payment initiation, then this is the service\
        \ to use. Ideal for use cases that need one-time payment initiation.<br/><br/>In\
        \ order to test the API, you can initiate a payment with our Demo banks. For\
        \ more details, please see the associated <a href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'\
        \ target='_blank'>documentation</a>.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ URL. You must direct your user to our web form with the URL.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createForStandalonePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandalonePaymentDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if applying the given <code>sender.iban</code>\
            \ does not result in a uniquely valid bank;<br/>&bull; <code>PAYMENT_NOT_SUPPORTED</code>\
            \ - if the transfer amount currency is not 'EUR';<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
      summary: Create a standalone payment
      tags:
      - Payment Initiation Services
  /api/webForms/paymentWithAccountId:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnPaymentWithAccountIdFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "Initiates payment from a specific checking account using an account\
        \ ID. A pre-requisite for using this service is, the payment account must\
        \ already be imported and stored in Access and associated with an account\
        \ ID. This is ideal for customers who's use case might involve monitoring\
        \ and managing payment accounts and also recurring possible payment initiations\
        \ from the same account.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ URL. You must direct your user to our web form with the URL.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createForPaymentWithAccountId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentWithAccountDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>PAYMENT_NOT_SUPPORTED</code><br/>&nbsp;&nbsp;&nbsp;&nbsp;- if\
            \ the account identified by the given <code>accountId</code> does not\
            \ have payment capabilities;<br/>&nbsp;&nbsp;&nbsp;&nbsp;- if the transfer\
            \ amount currency does not match selected account currency;<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the transfer requires the recipient BIC to be defined.<br/>&bull;\
            \ <code>MANDATOR_MISCONFIGURATION</code> - the mandator is not properly\
            \ configured on the Access side, e.g., it is still configured to use the\
            \ old web form, or the scraper interface has been selected by the Web\
            \ Form 2.0 but using it is not allowed on the mandator level. Please contact\
            \ our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
      summary: Create a payment with account ID
      tags:
      - Payment Initiation Services
  /api/webForms/directDebitWithAccountId:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnDirectDebitFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "Initiates a direct debit from a specific account using an account\
        \ ID. A pre-requisite for using this service is, the payment account must\
        \ already be imported and stored in Access and associated with an account\
        \ ID.<br/><br/>In case the API request is syntactically correct, the service\
        \ will respond with HTTP return code 201 and a unique URL. You must direct\
        \ your user to our web form with the URL.<br/><br/>A collective direct debit\
        \ contains more than one order in the 'orders' list. It is specially handled\
        \ by the bank and can be booked by the bank either as a single booking for\
        \ each order or as a single cumulative booking. The preferred booking type\
        \ can be given with the 'singleBooking' flag, but it is not guaranteed each\
        \ bank will regard this flag.<br/><br/>Must pass the user's access token."
      operationId: createForDirectDebitWithAccountId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitWithAccountDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>PAYMENT_NOT_SUPPORTED</code><br/>&nbsp;&nbsp;&nbsp;&nbsp;- if\
            \ the account identified by the given <code>accountId</code> does not\
            \ have direct debit capabilities;<br/>&nbsp;&nbsp;&nbsp;&nbsp;- if the\
            \ transfer amount currency does not match selected account currency;<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the transfer requires the payer BIC to be defined.<br/>- <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
      summary: Create a direct debit with account ID
      tags:
      - Payment Initiation Services
  /api/webForms/bankConnectionUpdate:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnBankConnectionUpdateFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      deprecated: true
      description: "This endpoint serves 3 purposes:<br/><br/>This endpoint will be\
        \ removed by 30.06.2022. Please look up the new \"Update a bank connection\"\
        \ service <a target='_blank' href='#post-/api/tasks/backgroundUpdate'>here</a>.<br/><br/>Updates\
        \ the bank connection to present the most latest snapshot of the accounts\
        \ connected to it. The update impacts account data and transaction data. The\
        \ endpoint will loop over all connected interfaces and update every account\
        \ (and its related data) on the bank connection. Hence, the end user might\
        \ be prompted for credentials and SCA for every loop over each of the interface.\
        \ You can also update the \"demo connection\" if you would like to test the\
        \ endpoint.<br/>Note that you cannot trigger an update of a bank connection\
        \ as long as there is still a previously triggered update running.<br/><br/>For\
        \ a more in-depth understanding of the update process, please also read this\
        \ page on our documentation: <a target='_blank' href='https://documentation.finapi.io/access/Post-Processing-of-Bank-Account-Import%2FUpdate.2766405656.html'>Post\
        \ Processing of Bank Account Import/Update</a>.<br/><br/>Looks for and imported\
        \ any new accounts that the end user (newly) has at the bank. This look up\
        \ is only possible by setting a specific API parameter.<br/><br/>Allows the\
        \ end user to manage their preference for bank login credentials storage.\
        \ Use a specific API parameter in order to allow end users to update credentials\
        \ in our Database or also to stop saving credentials, if they wish to.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a unique URL. You must direct your user to\
        \ our web form with the URL.<br/><br/>Must pass the user's access token."
      operationId: createForBankConnectionUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankConnectionUpdateDetails'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the current authenticated user or its mandator are restricted
            to access the endpoint
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if the bank of the given bank connection\
            \ is no longer supported by Access;<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either bank connection or profile with the given ID not found
            (code <code>NOT_FOUND</code>)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
      summary: Update a bank connection (BETA - DEPRECATED)
      tags:
      - Account Information Services
  /api/webForms/bankConnectionImport:
    post:
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnBankConnectionImportFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebFormCompletedCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "Imports and groups all the bank data the end user has at the specific\
        \ bank into a bank connection (identifiable with a bankConnectionId). The\
        \ endpoint connects to all available interfaces(XS2A, finTS and Web Scraper)\
        \ for the bank. Hence, the end user will be prompted for credentials and SCA\
        \ for every loop over each of the interface. For best results, consider your\
        \ use case and review the API parameter, accountTypes list before you begin\
        \ your integration.<br/><br/>All bank accounts will be downloaded and imported\
        \ with their current balances, transactions and supported two-step-procedures\
        \ (note that the amount of available transactions may vary between banks,\
        \ e.g. some banks deliver all transactions from the past year, others only\
        \ deliver the transactions from the past three months). The balance and transactions\
        \ download process runs asynchronously, so this service may return before\
        \ all balances and transactions have been imported. Also, all downloaded transactions\
        \ will be categorized by a separate background process that runs asynchronously\
        \ too. To check the status of the balance and transactions download process\
        \ as well as the background categorization process, see the status flags that\
        \ are returned by the GET /bankConnections/ service. For a more in-depth understanding\
        \ of the import process, please also read this page on our documentation:\
        \ <a target='_blank' href='https://documentation.finapi.io/access/Post-Processing-of-Bank-Account-Import%2FUpdate.2766405656.html'>Post\
        \ Processing of Bank Account Import/Update</a>.<br/><br/>In order to test\
        \ the API, you can import a \"demo connection\". To import the demo connection,\
        \ you need to pass the identifier of the \"finAPI Test Bank\". For more details,\
        \ please see the associated <a target='_blank' href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'>documentation</a>.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a unique URL. You must direct your user to\
        \ our web form with the URL.<br/><br/>Must pass the user's access token."
      operationId: createForBankConnectionImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankConnectionImportDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: Created web form
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if applying the given <code>bank.id</code>\
            \ or <code>code.search</code> does not result in a uniquely valid bank;<br/>&bull;\
            \ <code>BANK_NOT_UNIQUE</code> - if applying the given <code>bank.search</code>\
            \ results in multiple banks;<br/>- <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>- <code>INVALID_REDIRECT_URL</code> - depending\
            \ on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
      summary: Import a bank connection
      tags:
      - Account Information Services
  /api/translations:
    get:
      description: Get all translations.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getTranslations
      parameters:
      - description: Page to load
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: The number of items on the page
        example: 20
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationSetsPage'
          description: A page of translations ordered by creation date
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid request
      summary: Get translations (BETA)
      tags:
      - Customisation / Translations (BETA)
    post:
      description: "The endpoint provides a list of parameters that customers can\
        \ use to personalize the titles and subtitles we display on each of the Web\
        \ Form views.<br/><br/>The endpoint triggered with a list of values will create\
        \ a translation set with a unique identifier. The translation set will be\
        \ applied to every Web Form generated by the customer.<br/><br/>In case the\
        \ API request is syntactically correct, the service will respond with HTTP\
        \ return code 201 and a translation set object. <br/><br/>Must pass the <a\
        \ href='https://documentation.finapi.io/access/Application-management.2763423767.html'\
        \ target='_blank'>mandator admin client</a>'s access_token."
      operationId: createTranslation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTranslationDetails'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a translation already exists."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationSet'
          description: Created a translation
      summary: Create a translation (BETA)
      tags:
      - Customisation / Translations (BETA)
  /api/tasks/backgroundUpdate:
    post:
      callbacks:
        TaskCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnBackgroundUpdateFinalisedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TaskCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
        WebFormRequiredCallback:
          '{$request.body#/callbacks/webFormRequired}':
            post:
              operationId: postOnWebFormRequiredForBackgroundUpdateCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TaskCallback'
                description: Callback payload
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
              x-callback-request: true
      description: "This endpoint serves 3 purposes:<br/><br/>Updates the bank connection\
        \ to present the most latest snapshot of the accounts connected to it. The\
        \ update impacts account data and transaction data. The endpoint will loop\
        \ over all connected interfaces and update every account (and its related\
        \ data) on the bank connection. Hence, the end user might be prompted for\
        \ credentials and SCA for every loop over each interface. You can also update\
        \ the \"demo connection\" if you would like to test the endpoint.<br/>Note\
        \ that you cannot trigger an update of a bank connection as long as there\
        \ is still a previously triggered update running.<br/><br/>For a more in-depth\
        \ understanding of the update process, please also read this page on our documentation:\
        \ <a target='_blank' href='https://documentation.finapi.io/access/Post-Processing-of-Bank-Account-Import%2FUpdate.2766405656.html'>Post\
        \ Processing of Bank Account Import/Update</a>.<br/><br/>Looks for and imports\
        \ any new accounts that the end user (newly) has at the bank. This lookup\
        \ is only possible by setting a specific API parameter.<br/><br/>Allows the\
        \ end user to manage their preference for bank login credentials storage.\
        \ Use a specific API parameter in order to allow end users to update credentials\
        \ in our Database or also to stop saving credentials, if they wish to.<br/><br/>Note\
        \ however that in case the task created by this endpoint results in a web\
        \ form, and this web form is cancelled by the end user, the web form will\
        \ be set to the following status:<br/>&bull; <code>ABORTED</code> - if it\
        \ was cancelled before the web form managed to complete any update of the\
        \ given bank connection;<br/>&bull; <code>COMPLETED</code> - if it was cancelled\
        \ after at least one interface of the given bank connection has already been\
        \ successfully completed.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ task ID. You can follow the status of the update with the task ID.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createBankConnectionUpdateTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankConnectionUpdateTaskDetails'
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bank connection cannot get updated at the moment as it is currently
            being imported or updated (either by the user or by finAPI's automatic
            batch update). Code <code>LOCKED</code>.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if the bank of the given bank connection\
            \ is no longer supported by Access;<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Created task
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either bank connection or profile with the given ID not found
            (code <code>NOT_FOUND</code>)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
      summary: Update a bank connection
      tags:
      - Account Information Services
  /api/profiles:
    get:
      description: Get all profiles.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getProfiles
      parameters:
      - description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        explode: true
        in: query
        name: order
        required: false
        schema:
          example: "createdAt,desc"
          type: string
        style: form
      - description: Page to load
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: The number of items on the page
        example: 20
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesPage'
          description: A page of profiles ordered by creation date
      summary: Get profiles
      tags:
      - Customisation / Profiles
    post:
      description: "The endpoint provides a list of parameters which customers can\
        \ personalize to be in line with their brand's styling.<br/>The endpoint triggered\
        \ with a list of values, will create a profile with a unique <code>profileId</code>.\
        \ When the customer passes the <code>profileId</code> on an API call, the\
        \ values from the profile are applied on the web form while rendering to end-users.\
        \ We welcome customers to set up a default profile, so that they do not need\
        \ to pass the <code>profileId</code> as a parameter for every API call.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a profile object.<br/><br/>Must pass the <a\
        \ href='https://documentation.finapi.io/access/Application-management.2763423767.html'\
        \ target='_blank'>mandator admin client</a>'s access_token."
      operationId: createProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileDetails'
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected server error
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Created a profile
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a profile with the same <code>label</code>\
            \ or if a default profile already exists."
      summary: Create a profile
      tags:
      - Customisation / Profiles
  /api/profiles/{id}:
    delete:
      description: Delete a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: deleteProfile
      parameters:
      - description: Identifier of the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Profile has been deleted
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile not found
      summary: Delete a profile
      tags:
      - Customisation / Profiles
    get:
      description: Get a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getProfile
      parameters:
      - description: Identifier of the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: A profile
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile not found
      summary: Get a profile
      tags:
      - Customisation / Profiles
    patch:
      description: Edit a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: editProfile
      parameters:
      - description: Identifier of the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditProfileDetails'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The updated profile
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation failed for the given request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a profile with the same <code>label</code>\
            \ or if a default profile already exists."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Profile not found
      summary: Edit a profile
      tags:
      - Customisation / Profiles
  /api/webForms:
    get:
      description: Get all web forms associated with the authorized user.<br/><br/>Must
        pass the user's access token.
      operationId: getWebForms
      parameters:
      - description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        explode: true
        in: query
        name: order
        required: false
        schema:
          example: "createdAt,desc"
          type: string
        style: form
      - description: Page to load
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: The number of items on the page
        example: 20
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebFormsPage'
          description: A page of web forms ordered by creation date
      summary: Get web forms
      tags:
      - Web Forms
  /api/webForms/{id}:
    delete:
      description: Delete a web form of the user that is authorized by the access
        token.<br/><br/>Must pass the user's access token.
      operationId: deleteWebForm
      parameters:
      - description: Identifier of the web form
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Web form not found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "200":
          description: Web form has been deleted
      summary: Delete a web form
      tags:
      - Web Forms
    get:
      description: Get a web form of the authorized user.<br/><br/>Must pass the user's
        access token.
      operationId: getWebForm
      parameters:
      - description: Identifier of the web form
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Web form not found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebForm'
          description: A web form
      summary: Get a web form
      tags:
      - Web Forms
  /api/translations/{id}:
    delete:
      description: Delete a single translation by its id.<br/><br/>Must pass the <a
        href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: deleteTranslation
      parameters:
      - description: Identifier of the translation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Translation not found
        "200":
          description: Translation has been deleted
      summary: Delete a translation (BETA)
      tags:
      - Customisation / Translations (BETA)
    get:
      description: Get a single translation by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getTranslation
      parameters:
      - description: Identifier of the translation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Incorrect authorization role
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationSet'
          description: A translation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Translation not found
      summary: Get a translation (BETA)
      tags:
      - Customisation / Translations (BETA)
  /api/tasks:
    get:
      description: Get all tasks associated with the authorized user.<br/><br/>Must
        pass the user's access token.
      operationId: getTasks
      parameters:
      - description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        explode: true
        in: query
        name: order
        required: false
        schema:
          example: "createdAt,desc"
          type: string
        style: form
      - description: Page to load
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: The number of items on the page
        example: 20
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TasksPage'
          description: A page of tasks ordered by creation date
      summary: Get tasks
      tags:
      - Tasks
  /api/tasks/{id}:
    get:
      description: Get a task of the authorized user.<br/><br/>Must pass the user's
        access token.
      operationId: getTask
      parameters:
      - description: Identifier of the task
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No access
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: A task
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Either there is no access token within the request, or it's\
            \ invalid"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Task not found
      summary: Get a task
      tags:
      - Tasks
components:
  schemas:
    Amount:
      description: Amount details
      example:
        currency: EUR
        value: 0.04
      properties:
        value:
          description: The amount of the payment. Must be a positive decimal number
            with at most two decimal places.
          example: 0.04
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
      required:
      - currency
      - value
      type: object
    Callbacks:
      description: Callbacks for the instantiated web form. Find more info in the
        <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceyourexperience!'
        target='_blank'>Web Form 2.0 Public Documentation</a>.
      example:
        finalised: https://dev.finapi.io/callback?state=42
      nullable: true
      properties:
        finalised:
          description: "URL to which finAPI sends the notification message after the\
            \ web form is finalised (either completed successfully or with an error,\
            \ or aborted by the user).<br/>finAPI will call this URL with HTTP method\
            \ POST ignoring the response of the target endpoint. Only HTTPS URLs are\
            \ allowed."
          example: https://dev.finapi.io/callback?state=42
          maxLength: 2048
          minLength: 0
          nullable: true
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
      type: object
    Currency:
      description: "<strong>Currency:</strong> The <a target='_blank' href='https://www.iso.org/iso-4217-currency-codes.html'>ISO-4217</a>\
        \ currency code of the amount.<br/>At the moment, the only possible currency\
        \ we accept here is:<br/>&bull; for direct debits, standalone payments and\
        \ standing orders - <code>EUR</code> only;<br/>&bull; for payments with account\
        \ - the currency associated with the account (word of caution: we support\
        \ only SEPA payments, hence for non-EUR accounts, payments will be submitted\
        \ only on best effort basis)."
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHN
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KID
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NIS
      - NOK
      - NPR
      - NTD
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PRB
      - PYG
      - QAR
      - RMB
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLS
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWB
      - ZWL
      example: EUR
      type: string
    Recipient:
      description: Recipient details
      example:
        iban: DE77533700080111111100
        name: Max Mustermann
      properties:
        iban:
          description: A normalized (without spaces) IBAN of the counterparty's account
          example: DE77533700080111111100
          maxLength: 34
          minLength: 0
          type: string
        name:
          description: "Name of the counterparty.<br/>Note that neither finAPI nor\
            \ the involved bank are guaranteed to validate the counterparty name.\
            \ Even if the name does not depict the actual registered account holder\
            \ of the target account, the order might still be successful."
          example: Max Mustermann
          maxLength: 70
          minLength: 1
          type: string
      required:
      - iban
      - name
      type: object
    Sender:
      description: "Sender details. When not provided at the API-level, the end-user\
        \ can search for the IBAN or Bank name or BLZ directly on the Web Form and\
        \ then initiate the payment."
      example:
        iban: DE77533700080111111100
      nullable: true
      properties:
        iban:
          description: "A normalized (without spaces) IBAN of the sender's account.\
            \ If the value is provided, the web form will be prefilled with that value.\
            \ Otherwise, it will ask the end user to provide a valid IBAN."
          example: DE77533700080111111100
          maxLength: 34
          minLength: 0
          type: string
      required:
      - iban
      type: object
    StandingOrderDetails:
      example:
        sepaPurposeCode: SALA
        amount:
          currency: EUR
          value: 0.04
        redirectUrl: https://finapi.io/callback
        purpose: Well done
        sender:
          iban: DE77533700080111111100
        endDate: 2023-12-31T00:00:00.000+00:00
        profileId: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        recipient:
          iban: DE77533700080111111100
          name: Max Mustermann
        callbacks:
          finalised: https://dev.finapi.io/callback?state=42
        endToEndId: endToEndId
        startDate: 2022-12-31T00:00:00.000+00:00
        frequency: MONTHLY
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        purpose:
          description: The purpose of the transfer transaction
          example: Well done
          maxLength: 2000
          minLength: 1
          nullable: true
          type: string
        sepaPurposeCode:
          description: "SEPA purpose code, according to ISO 20022, external codes\
            \ set.<br/>Note that the SEPA purpose code may be ignored by some banks."
          example: SALA
          nullable: true
          pattern: "^[a-zA-Z0-9]{4}$"
          type: string
        endToEndId:
          description: End-To-End ID for the transfer transaction
          example: endToEndId
          maxLength: 35
          minLength: 1
          nullable: true
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        sender:
          $ref: '#/components/schemas/Sender'
        startDate:
          description: "Date when the 1st of the standing orders should be executed,\
            \ in the format <code>YYYY-MM-DD</code>. The date may not be in the past."
          example: 2022-12-31
          format: date
          type: string
        endDate:
          description: "Date by when the last standing order in the request should\
            \ be executed, in the format <code>YYYY-MM-DD</code>. If is not provided,\
            \ it is an infinite standing order. This date must be after the start\
            \ date."
          example: 2023-12-31
          format: date
          nullable: true
          type: string
        frequency:
          description: The frequency of the recurring payment resulting from the standing
            order.
          enum:
          - MONTHLY
          - EVERY_TWO_MONTHS
          - QUARTERLY
          - SEMI_ANNUAL
          - ANNUAL
          example: MONTHLY
          type: string
        profileId:
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
          maxLength: 36
          minLength: 36
          nullable: true
          type: string
        redirectUrl:
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>."
          example: https://finapi.io/callback
          maxLength: 2048
          minLength: 1
          nullable: true
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
        callbacks:
          $ref: '#/components/schemas/Callbacks'
      required:
      - amount
      - frequency
      - recipient
      - startDate
      type: object
    Error:
      description: Error details
      properties:
        code:
          description: Error code
          enum:
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - NOT_ALLOWED
          - BANK_NOT_SUPPORTED
          - BANK_NOT_UNIQUE
          - ENTITY_EXISTS
          - MANDATOR_MISCONFIGURATION
          - NOT_SUPPORTED
          - PAYMENT_NOT_SUPPORTED
          - INVALID_REDIRECT_URL
          - LOCKED
          - INTERNAL_SERVER_ERROR
          example: INVALID_REQUEST
          type: string
        description:
          description: Error message
          example: Invalid parameter
          type: string
        timestamp:
          description: Timestamp when the error occurred in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: string
          type: string
        endpoint:
          description: Endpoint caused the error
          example: GET /api/webForms
          type: string
      required:
      - code
      - description
      - endpoint
      - timestamp
      type: object
    InvalidFieldError:
      description: Error details regarding the field and cause of the error
      properties:
        field:
          description: Field that caused the error
          type: string
        message:
          description: Error message
          type: string
      required:
      - field
      - message
      type: object
    ValidationError:
      description: Set of validation errors
      properties:
        errors:
          description: Fields that caused the error
          items:
            $ref: '#/components/schemas/InvalidFieldError'
          maxItems: 2147483647
          minItems: 1
          type: array
        timestamp:
          description: Timestamp when the error occurred in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: string
          type: string
        endpoint:
          description: Endpoint caused the error
          example: GET /api/webForms
          type: string
      required:
      - endpoint
      - errors
      - timestamp
      type: object
    Payload:
      description: Payload of the web form
      example:
        bankConnectionId: 42
        paymentId: 42
        errorCode: INTERNAL_ERROR
        standingOrderId: 42
      properties:
        bankConnectionId:
          description: "Identifier of the bank connection in the Access API. Initialized\
            \ as soon as the Web Form reaches a final status and a bank connection\
            \ exists in Access. Use this ID to gather Bank Connection data from Access\
            \ endpoints like, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/bankConnections/-id-'>Get\
            \ a bank connection</a>\" or \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/accounts'>Get\
            \ and search all accounts</a>\".<br/>This field is mutually exclusive\
            \ with <code>paymentId</code> and <code>standingOrderId</code>."
          example: 42
          format: int64
          nullable: true
          type: integer
        paymentId:
          description: "Identifier of the payment in the Access API. Initialized as\
            \ soon as the Web Form reaches a final status and a payment exists in\
            \ Access. Use this ID to get Payment initialization data from the Access\
            \ endpoint, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/payments'>Get\
            \ payments</a>\".<br/>This field is mutually exclusive with <code>bankConnectionId</code>\
            \ and <code>standingOrderId</code>."
          example: 42
          format: int64
          nullable: true
          type: integer
        standingOrderId:
          description: "Identifier of the standing order in the Access API. Initialized\
            \ as soon as the Web Form reaches a final status and a standing order\
            \ exists in Access. Use this ID to get Standing Order initialization data\
            \ from the Access endpoint, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/standingOrders'>Get\
            \ standing orders</a>\".<br/>This field is mutually exclusive with <code>bankConnectionId</code>\
            \ and <code>paymentId</code>."
          example: 42
          format: int64
          nullable: true
          type: integer
        errorCode:
          description: "Reason of the web form failure.<br/><strong>NOTE:</strong>\
            \ This enum can be extended in the future as new cases arise!<br/><br/>Codes\
            \ can be interpreted as follows:<br/>&bull; <code>ENTITY_EXISTS</code>\
            \ - Access API rejected the import because of detected bank connection\
            \ duplication;<br/>&bull; <code>BANK_SERVER_REJECTION</code> - the flow\
            \ has been terminated on the bank side, e.g., in case of incorrect credentials;<br/>&bull;\
            \ <code>INTERRUPTED</code> - web form has been reloaded or re-opened on\
            \ a step where it's not supported;<br/>&bull; <code>INVALID_TOKEN</code>\
            \ - the given access token expired or became invalid during the flow;\
            \ <br/>&bull; <code>MANDATOR_MISCONFIGURATION</code> - the mandator is\
            \ not properly configured on the Access side, e.g., it is still configured\
            \ to use the old web form, or the scraper interface has been selected\
            \ by the Web Form 2.0 but using it is not allowed on the mandator level.\
            \ Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>NO_ACCOUNTS_FOR_TYPE_LIST</code>\
            \ - in the end of the web form flow there were no accounts of type requested\
            \ in the API call; <br/>&bull; <code>UNDETERMINED_BANK</code> - the given\
            \ search criteria resulted in either zero or multiple bank entries;<br/>&bull;\
            \ <code>UNEXPECTED_ACCESS_RESPONSE</code> - an unexpected response has\
            \ been received from the Access API - similarly to the <code>INTERNAL_ERROR</code>\
            \ code, please forward all details to our Customer Support team; <br/>&bull;\
            \ <code>UNSUPPORTED_FEATURE</code> - Access API rejected the request because\
            \ the requested feature is not supported, e.g., a payment with the execution\
            \ date in the future was requested for a bank that does not support it;<br/>&bull;\
            \ <code>UNSUPPORTED_ORDER</code> - Access API rejected the payment request\
            \ because the associated account does not have the required capabilities;<br/>&bull;\
            \ <code>INTERNAL_ERROR</code> - the reason of the failure can not be identified\
            \ - please forward all the details to our Customer Support team in order\
            \ to get more info and also help us to eliminate the issue."
          enum:
          - ENTITY_EXISTS
          - BANK_SERVER_REJECTION
          - INTERNAL_ERROR
          - INTERRUPTED
          - INVALID_TOKEN
          - MANDATOR_MISCONFIGURATION
          - NO_ACCOUNTS_FOR_TYPE_LIST
          - UNDETERMINED_BANK
          - UNEXPECTED_ACCESS_RESPONSE
          - UNSUPPORTED_FEATURE
          - UNSUPPORTED_ORDER
          example: INTERNAL_ERROR
          nullable: true
          type: string
      type: object
    WebForm:
      example:
        createdAt: createdAt
        payload:
          bankConnectionId: 42
          paymentId: 42
          errorCode: INTERNAL_ERROR
          standingOrderId: 42
        id: 946db09e-5bfc-11eb-ae93-0242ac130002
        type: STANDALONE_PAYMENT
        url: https://webform.finapi.io/wf/946db09e-5bfc-11eb-ae93-0242ac130002
        expiresAt: expiresAt
        status: COMPLETED
      properties:
        id:
          description: Globally unique web form's identifier
          example: 946db09e-5bfc-11eb-ae93-0242ac130002
          maxLength: 36
          minLength: 36
          type: string
        url:
          description: "Full web form's URL (including the hostname).<br/>You can\
            \ enhance the given URL with the following query parameters: <code>redirectUrl</code>,\
            \ <code>errorRedirectUrl</code>, <code>customerSupportUrl</code>.<br/>Find\
            \ more info in the <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceend-userexperience!'\
            \ target='_blank'>Web Form 2.0 Public Documentation</a>."
          example: https://webform.finapi.io/wf/946db09e-5bfc-11eb-ae93-0242ac130002
          maxLength: 2048
          minLength: 1
          type: string
        createdAt:
          description: The timestamp when the web form was created in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: string
          type: string
        expiresAt:
          description: The timestamp when the web form expires in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: string
          type: string
        type:
          $ref: '#/components/schemas/WebFormType'
        status:
          $ref: '#/components/schemas/WebFormStatus'
        payload:
          $ref: '#/components/schemas/Payload'
      required:
      - createdAt
      - expiresAt
      - id
      - payload
      - status
      - type
      - url
      type: object
    WebFormStatus:
      description: <strong>Web form status:</strong><br/>&bull; <code>NOT_YET_OPENED</code>
        - the web form was not yet opened by the end user;<br/>&bull; <code>IN_PROGRESS</code>
        - the web form has already been opened by the end user and is currently in
        progress;<br/>&bull; <code>COMPLETED</code> - the web form has been successfully
        completed (final status);<br/>&bull; <code>COMPLETED_WITH_ERROR</code> - the
        web form has been completed with an error (final status);<br/>&bull; <code>EXPIRED</code>
        - the web form has expired (final status);<br/>&bull; <code>ABORTED</code>
        - the web form has been cancelled by the end user (final status).
      enum:
      - NOT_YET_OPENED
      - IN_PROGRESS
      - COMPLETED
      - COMPLETED_WITH_ERROR
      - EXPIRED
      - ABORTED
      example: COMPLETED
      type: string
    WebFormType:
      description: <strong>Web form type:</strong><br/>&bull; <code>BANK_CONNECTION_IMPORT</code>
        - web form was created for importing a bank connection (service "<a href='#post-/api/webForms/bankConnectionImport'>Import
        a bank connection</a>");<br/>&bull; <code>BANK_CONNECTION_UPDATE</code> -
        web form was created for updating a bank connection (service "<a href='#post-/api/tasks/backgroundUpdate'>Update
        a bank connection</a>");<br/>&bull; <code>PAYMENT_WITH_ACCOUNT_ID</code> -
        web form was created for a payment from an account that already exists in
        Access (service "<a href='#post-/api/webForms/paymentWithAccountId'>Create
        a payment with account ID</a>");<br/>&bull; <code>STANDALONE_PAYMENT</code>
        - web form was created for a standalone payment (service "<a href='#post-/api/webForms/standalonePayment'>Create
        a standalone payment</a>");<br/>&bull; <code>DIRECT_DEBIT_WITH_ACCOUNT_ID</code>
        - web form was created for a direct debit from an account that already exists
        in Access (service "<a href='#post-/api/webForms/directDebitWithAccountId'>Create
        a direct debit with account ID</a>");<br/>&bull; <code>STANDING_ORDER</code>
        - web form was created for a standing order (service "<a href='#post-/api/webForms/standingOrder'>Create
        a standing order</a>").
      enum:
      - BANK_CONNECTION_IMPORT
      - BANK_CONNECTION_UPDATE
      - PAYMENT_WITH_ACCOUNT_ID
      - STANDALONE_PAYMENT
      - STANDING_ORDER
      - DIRECT_DEBIT_WITH_ACCOUNT_ID
      example: STANDALONE_PAYMENT
      type: string
    WebFormCompletedCallback:
      example:
        webFormId: 31c508d8-51da-11eb-ae93-0242ac130002
        status: COMPLETED
      properties:
        webFormId:
          description: Web form's identifier
          example: 31c508d8-51da-11eb-ae93-0242ac130002
          maxLength: 36
          minLength: 36
          type: string
        status:
          $ref: '#/components/schemas/WebFormStatus'
      required:
      - status
      - webFormId
      type: object
    PaymentOrder:
      description: Payment order
      example:
        sepaPurposeCode: SALA
        amount:
          currency: EUR
          value: 0.04
        purpose: Well done
        recipient:
          iban: DE77533700080111111100
          name: Max Mustermann
          bic: DEUTDEFF533
        endToEndId: endToEndId
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        purpose:
          description: The purpose of the transfer transaction
          example: Well done
          maxLength: 2000
          minLength: 1
          nullable: true
          type: string
        sepaPurposeCode:
          description: "SEPA purpose code, according to ISO 20022, external codes\
            \ set.<br/>Note that the SEPA purpose code may be ignored by some banks."
          example: SALA
          nullable: true
          pattern: "^[a-zA-Z0-9]{4}$"
          type: string
        endToEndId:
          description: End-To-End ID for the transfer transaction
          example: endToEndId
          maxLength: 35
          minLength: 1
          nullable: true
          type: string
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
      required:
      - amount
      - recipient
      type: object
    PaymentRecipient:
      description: Payment Recipient
      example:
        iban: DE77533700080111111100
        name: Max Mustermann
        bic: DEUTDEFF533
      properties:
        iban:
          description: A normalized (without spaces) IBAN of the counterparty's account
          example: DE77533700080111111100
          maxLength: 34
          minLength: 1
          type: string
        name:
          description: "Name of the counterparty.<br/>Note that neither finAPI nor\
            \ the involved bank are guaranteed to validate the counterparty name.\
            \ Even if the name does not depict the actual registered account holder\
            \ of the target account, the order might still be successful."
          example: Max Mustermann
          maxLength: 70
          minLength: 1
          type: string
        bic:
          description: BIC of the counterparty's account
          example: DEUTDEFF533
          nullable: true
          pattern: "^[A-Z]{6}[2-9A-Z][0-9A-NP-Z](XXX|[0-9A-WYZ]{1}[0-9A-Z]{2})?$"
          type: string
      required:
      - iban
      - name
      type: object
    StandalonePaymentDetails:
      example:
        redirectUrl: https://finapi.io/callback
        sender:
          iban: DE77533700080111111100
        profileId: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        executionDate: 2022-12-31T00:00:00.000+00:00
        callbacks:
          finalised: https://dev.finapi.io/callback?state=42
        orders:
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        batchBookingPreferred: true
        instantPayment: false
      properties:
        orders:
          description: Payment orders
          items:
            $ref: '#/components/schemas/PaymentOrder'
          maxItems: 15000
          minItems: 1
          type: array
        executionDate:
          description: "Execution date for the money transfer(s), in the format <code>YYYY-MM-DD</code>.\
            \ May not be in the past. If not specified, then the current date will\
            \ be used."
          example: 2022-12-31
          format: date
          nullable: true
          type: string
        batchBookingPreferred:
          default: true
          description: "This field is only relevant when you pass multiple orders.\
            \ It determines whether the orders should be processed by the bank as\
            \ one collective booking (in case of <code>true</code>), or as separate\
            \ bookings (in case of <code>false</code>). Note that it is subject to\
            \ the bank whether it will regard the field."
          example: true
          nullable: true
          type: boolean
        instantPayment:
          default: false
          description: "Whether the order should be submitted to the bank as an instant\
            \ SEPA order. <br/><br/><strong>NOTE:</strong><br/>&bull; Submitting an\
            \ instant payment will work only with interfaces that support it.<br/>&bull;\
            \ Instant payments work only for a single order, not for collective orders.<br/>&bull;\
            \ The bank may charge a fee for instant payments, depending on the agreement\
            \ between the user and the bank.<br/>&bull; The payment might get rejected\
            \ if the source and/or target account doesn't support instant payments.<br/><br/>If\
            \ you are interested in additional banks where we can support Instant\
            \ Payments, please contact our Sales or support team"
          example: false
          type: boolean
        profileId:
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
          maxLength: 36
          minLength: 36
          nullable: true
          type: string
        redirectUrl:
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>."
          example: https://finapi.io/callback
          maxLength: 2048
          minLength: 1
          nullable: true
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
        callbacks:
          $ref: '#/components/schemas/Callbacks'
        sender:
          $ref: '#/components/schemas/Sender'
      required:
      - orders
      type: object
    PaymentWithAccountDetails:
      description: Parameters for a payment with an account
      example:
        redirectUrl: https://finapi.io/callback
        sender:
          accountId: 42
        profileId: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        executionDate: 2022-12-31T00:00:00.000+00:00
        callbacks:
          finalised: https://dev.finapi.io/callback?state=42
        orders:
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        - sepaPurposeCode: SALA
          amount:
            currency: EUR
            value: 0.04
          purpose: Well done
          recipient:
            iban: DE77533700080111111100
            name: Max Mustermann
            bic: DEUTDEFF533
          endToEndId: endToEndId
        batchBookingPreferred: true
      properties:
        executionDate:
          description: "Execution date for the money transfer(s), in the format <code>YYYY-MM-DD</code>.\
            \ May not be in the past. If not specified, then the current date will\
            \ be used."
          example: 2022-12-31
          format: date
          nullable: true
          type: string
        batchBookingPreferred:
          default: true
          description: "This field is only relevant when you pass multiple orders.\
            \ It determines whether the orders should be processed by the bank as\
            \ one collective booking (in case of <code>true</code>), or as separate\
            \ bookings (in case of <code>false</code>). Note that it is subject to\
            \ the bank whether it will regard the field."
          example: true
          nullable: true
          type: boolean
        profileId:
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
          maxLength: 36
          minLength: 36
          nullable: true
          type: string
        redirectUrl:
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>."
          example: https://finapi.io/callback
          maxLength: 2048
          minLength: 1
          nullable: true
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
        callbacks:
          $ref: '#/components/schemas/Callbacks'
        sender:
          $ref: '#/components/schemas/PaymentWithAccountSender'
        orders:
          description: Payment orders
          items:
            $ref: '#/components/schemas/PaymentOrder'
          maxItems: 15000
          minItems: 1
          type: array
      required:
      - orders
      - sender
      type: object
    PaymentWithAccountSender:
      description: Sender details
      example:
        accountId: 42
      properties:
        accountId:
          description: The identifier of an account in the Access API
          example: 42
          format: int64
          type: integer
      required:
      - accountId
      type: object
    CountryCode:
      description: "<strong>Country code:</strong> The ISO 3166 ALPHA-2 country code\
        \ of the counterparty's address. Examples: 'GB' for the United Kingdom or\
        \ 'CH' for Switzerland.<br/><br/>This should be defined for direct debits\
        \ created for debtors outside of the european union."
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
[...]
